.pd_b-1 {
  padding-bottom: 10px;
}

.pd_b-2 {
  padding-bottom: 20px;
}

.pd_b-3 {
  padding-bottom: 30px;
}

.pd_b-4 {
  padding-bottom: 40px;
}

.pd_b-5 {
  padding-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #191919;
}

header {
  background-color: black;
  height: 80px;
}
header .container {
  height: 100%;
  width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header .container img {
  width: 50px;
}

main .container-box .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 0;
  width: 1070px;
  margin: 0 auto;
  height: 100%;
}
main .container-box .container .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 200px;
  height: 360px;
  margin: 10px 20px;
  padding-top: 20px;
  text-align: center;
  color: white;
  background-color: #2e3a46;
}
main .container-box .container .box img {
  max-width: 90%;
}
main .container-box .container .box h3, main .container-box .container .box p {
  color: grey;
}
