main{
  background-color: $colorMain;
  .container-box{
    @include flex(row, center);
    flex-wrap: wrap;
    padding: 80px 0;
    &.container {
      @include container;
      height: 100%;
    }
    .box{
      @include flex(column, flex-start);
      flex-basis: 150px;
      height: 350px;
      background-color: $colorBlack;
      padding: 20px;
      margin: 10px 20px;
      text-align: center;
      img{
        max-width: 100%;
      }
    }
  }
}
